.titulo-barra{
    font-weight: bolder !important;
    font-size: larger !important;
    color: #f08080 !important;
    font-family: monospace !important;
 }

 .barra{
    background-color: white !important;
 }