.cursor{
    cursor: pointer;
}

.btnModal{
    border-radius: 50px !important;
    background-color: #9ec5b5 !important;
    font-family: monospace !important;
    color: white !important;
    font-weight: bold !important;
}