.caixa{
    background-image: url(https://i.imgur.com/YGRnlck.jpg);
    height: 150vh;
    vertical-align: middle;
}

.item{
    align-self: center;
}

.titulo-home{
    font-family: monospace !important;
    color: white !important; 
    text-shadow: #195a39 0.1em 0.1em 0.2em !important;
    font-weight: bold !important; 
}

.botao-home{
    font-family: monospace !important;
    background-color: #f08080 !important;
    border-radius: 50px !important;
    color: white !important;
    font-weight: bold !important;
}

.postagem{
    background-color: #9ec5b5;
    align-self: flex-end;
}

.imagem-home{
    border-radius: 100px;
}


